{% extends "layout.twig" %}

{% block content %}
	<div id="srcblock">
		<fieldset>
			<label for="username" id="usernamelabel">{{pageContext.username}}</label>
		    <input type="text" name="username" id="username" />
			<label for="password" id="passwordlabel">{{pageContext.password}}</label>
		    <input type="password" name="password" id="password" />
		</fieldset>
	</div>
	<div class="actions" id="toolactions">
		<button class="buttonjs" onclick="javascript:tohtpasswd();">{{pageContext.generate}}</button>
	</div>
	<div id="resultSection" style="display:none">
		<label for="dsttextmd5">{{pageContext.md5}}</label>
					<p>{{pageContext.md5Text|raw}}</p>
		<input type="text" id="dsttextmd5" />
		
		<label for="dsttextcrypt">{{pageContext.crypt}}</label>
		<p>{{pageContext.cryptText|raw}}</p>
		<input type="text" id="dsttextcrypt" />
		
		<label for="dsttextsha1">{{pageContext.sha1}}</label>
					<p>{{pageContext.sha1Text|raw}}</p>
		<input type="text" id="dsttextsha1"/>
		
		<p>{{pageContext.plainText|raw}}</p>
	</div>
{% endblock %}