<div class="chainto">
	<p>{{textResources.chainTo}} :
		<a href="#" title="{{textResources.base64_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/base64.html');">{{textResources.base64_linkTitle}}</a>
		<a href="#" title="{{textResources.html_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/html.html');">{{textResources.html_linkTitle}}</a>
		<a href="#" title="{{textResources.url_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/url.html');">{{textResources.url_linkTitle}}</a>
		<a href="#" title="{{textResources.md5_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/md5.html');">{{textResources.md5_linkTitle}}</a>
		<a href="#" title="{{textResources.sha1_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/sha1.html');">{{textResources.sha1_linkTitle}}</a>
		<a href="#" title="{{textResources.sha256_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/sha256.html');">{{textResources.sha256_linkTitle}}</a>
		<a href="#" title="{{textResources.sha512_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/sha512.html');">{{textResources.sha512_linkTitle}}</a>
		<a href="#" title="{{textResources.hmacmd5_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/hmacmd5.html');">{{textResources.hmacmd5_linkTitle}}</a>
		<a href="#" title="{{textResources.hmacsha1_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/hmacsha1.html');">{{textResources.hmacsha1_linkTitle}}</a>
		<a href="#" title="{{textResources.hmacsha256_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/hmacsha256.html');">{{textResources.hmacsha256_linkTitle}}</a>
		<a href="#" title="{{textResources.hmacsha512_headTitle}}" onclick="javascript:transfer(event, '/{{pageContext.lang}}/hmacsha512.html');">{{textResources.hmacsha512_linkTitle}}</a>
	</p>
</div>